<div class="modal-header bg-primary">
    <label class="fw-bold text-light fs-4 text-capitalize"><i class="fas fa-address-book me-2"></i>Account Details</label>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-0">
    <div class="container rounded position-relative bg-white shadow-sm mt-sm-3 px-0">
        <div class="pt-1 pb-3 px-3">
            <div class="row">
                <div class="col-3 text-center">
                    <button type="button" class="btn btn-outline-primary position-relative rounded-circle p-1">
                        <label for="user-image-input">
                            <img <% if(!user.image) { %>src="/pic/default-user-image.png"<% } else { %>src="<%= user.image %>"<% } %> class="img-fluid rounded-circle" style="width: 125px; height: 125px; object-fit: cover;">
                        </label>
                    </button>
                </div>
                <div class="col-lg-9">
                    <div class="row mb-3">
                        <label class="form-label text-muted mb-0">Full Name</label>
                        <label class="fw-bold text-primary fs-5"><% if(user.firstname) { %><%= user.firstname + ' ' + user.lastname %><% } else { %>Null<% } %></label>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label text-muted mb-0">Mobile Number</label><br>
                            <label class="fw-bold text-primary fs-5"><% if(user.tel) { %><%= user.tel %><% } else { %>Null<% } %></label>
                        </div>
                        <div class="col">
                            <label class="form-label text-muted mb-0">Email</label><br>
                            <label class="fw-bold text-primary fs-5"><%= user.email %></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>