<nav class="navbar navbar-expand-md navbar-light bg-white shadow">
    <div class="container-fluid ps-lg-5">
        <a class="navbar-brand fs-4" href="/home">
            <label class="fc-ocean"><i class="fas fa-paper-plane"></i> PAPERFLY<label>
        </a>
        <a class="btn btn-outline-primary ms-auto me-1 me-md-0rounded-3" role="button" href="/home"><i class="fas fa-home"></i></a>
        <button class="navbar-toggler py-2" type="button" data-bs-toggle="collapse" data-bs-target="#admin-sidemenu">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>